<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mahxcheckout>
            <general>
                <enabled>0</enabled>
            </general>
        </mahxcheckout>
        <csp>
            <mode>
                <storefront_mahxcheckout_index_index>
                    <report_only>1</report_only>
                </storefront_mahxcheckout_index_index>
            </mode>
            <policies>
                <storefront_mahxcheckout_index_index>
                    <scripts>
                        <inline>0</inline>
                        <eval>0</eval>
                        <event_handlers>1</event_handlers>
                    </scripts>
                </storefront_mahxcheckout_index_index>
            </policies>
        </csp>
    </default>
</config>
