<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mahxcheckout" translate="label" sortOrder="999">
            <label>MAHX Checkout</label>
        </tab>

        <section id="mahxcheckout_settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>General Configuration</label>
            <tab>mahxcheckout</tab>
            <resource>MageHx_MahxCheckout::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable MAHX Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>mahxcheckout/general/enabled</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
