<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
        for="MageHx\MahxCheckout\Model\StepManager\FormComponentInterface"
        type="\MageHx\MahxCheckout\Model\StepManager\FormComponent" />

    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="MageHx_MahxCheckout::use_mahxcheckout_for_magento_checkout"
                type="MageHx\MahxCheckout\Plugin\Checkout\IndexController\UseMahxCheckoutForMagentoCheckout"/>
    </type>

    <type name="MageHx\MahxCheckout\Model\StepManager\CheckoutStepInterface">
        <plugin name="MageHx_MahxCheckout::apply_step_validation"
                type="MageHx\MahxCheckout\Plugin\Model\StepManagerCheckoutStepInterface\ApplyStepValidation" />
    </type>

    <type name="MageHx\MahxCheckout\Model\FieldRenderer\RendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="MageHx_MahxCheckout::text" xsi:type="array">
                    <item name="class" xsi:type="object">MageHx\MahxCheckout\Model\FieldRenderer\Renderer\TextRenderer</item>
                </item>
                <item name="MageHx_MahxCheckout::select" xsi:type="array">
                    <item name="class" xsi:type="object">MageHx\MahxCheckout\Model\FieldRenderer\Renderer\SelectRenderer</item>
                </item>
                <item name="MageHx_MahxCheckout::multiline" xsi:type="array">
                    <item name="class" xsi:type="object">MageHx\MahxCheckout\Model\FieldRenderer\Renderer\MultilineRenderer</item>
                </item>
                <item name="MageHx_MahxCheckout::hidden" xsi:type="array">
                    <item name="class" xsi:type="object">MageHx\MahxCheckout\Model\FieldRenderer\Renderer\HiddenRenderer</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MageHx\MahxCheckout\Model\StepManager\CheckoutStepPool">
        <arguments>
            <argument name="steps" xsi:type="array">
                <item name="shipping" xsi:type="object">MageHx\MahxCheckout\Model\StepManager\Step\ShippingStepVirtual</item>
                <item name="payment" xsi:type="object">MageHx\MahxCheckout\Model\StepManager\Step\PaymentStepVirtual</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="GuestEmailForm" type="MageHx\MahxCheckout\Model\StepManager\FormComponent">
        <arguments>
            <argument name="name" xsi:type="string">guest-email-form</argument>
            <argument name="label" xsi:type="string">Guest Email Info</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShippingAddressForm" type="MageHx\MahxCheckout\Model\StepManager\FormComponent">
        <arguments>
            <argument name="name" xsi:type="string">shipping-address-form</argument>
            <argument name="label" xsi:type="string">Shipping Address</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShippingMethodsForm" type="MageHx\MahxCheckout\Model\StepManager\FormComponent">
        <arguments>
            <argument name="name" xsi:type="string">shipping-methods-form</argument>
            <argument name="label" xsi:type="string">Shipping Methods</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaymentMethodsForm" type="MageHx\MahxCheckout\Model\StepManager\FormComponent">
        <arguments>
            <argument name="name" xsi:type="string">payment-methods-form</argument>
            <argument name="label" xsi:type="string">Payment Methods</argument>
        </arguments>
    </virtualType>

    <virtualType name="BillingAddressForm" type="MageHx\MahxCheckout\Model\StepManager\FormComponent">
        <arguments>
            <argument name="name" xsi:type="string">billing-address-form</argument>
            <argument name="label" xsi:type="string">Billing Address</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageHx\MahxCheckout\Model\StepManager\Step\ShippingStepVirtual"
                 type="MageHx\MahxCheckout\Model\StepManager\CheckoutStep">
        <arguments>
            <argument name="name" xsi:type="string">shipping</argument>
            <argument name="label" xsi:type="string">Shipping</argument>
            <argument name="urlHash" xsi:type="string">shipping</argument>
            <argument name="isDefault" xsi:type="boolean">true</argument>
            <argument name="stepButtonLabel" xsi:type="string">Continue</argument>
            <argument name="stepLayoutHandle" xsi:type="string">mahxcheckout_step_shipping</argument>
            <argument name="saveDataUrl" xsi:type="string">mahxcheckout/shipping/saveShippingInformation</argument>
            <argument name="components" xsi:type="array">
                <item name="guest_email_form" xsi:type="object">GuestEmailForm</item>
                <item name="shipping_address_form" xsi:type="object">ShippingAddressForm</item>
                <item name="shipping_methods_form" xsi:type="object">ShippingMethodsForm</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MageHx\MahxCheckout\Model\StepManager\Step\PaymentStepVirtual"
                 type="MageHx\MahxCheckout\Model\StepManager\CheckoutStep">
        <arguments>
            <argument name="name" xsi:type="string">payment</argument>
            <argument name="label" xsi:type="string">Review &amp; Payments</argument>
            <argument name="urlHash" xsi:type="string">payment</argument>
            <argument name="stepButtonLabel" xsi:type="string">Place Order</argument>
            <argument name="stepLayoutHandle" xsi:type="string">mahxcheckout_step_payment</argument>
            <argument name="saveDataUrl" xsi:type="string">mahxcheckout/checkout/placeOrder</argument>
            <argument name="components" xsi:type="array">
                <item name="payment_method_form" xsi:type="object">PaymentMethodsForm</item>
                <item name="billing_address_form" xsi:type="object">BillingAddressForm</item>
            </argument>
        </arguments>
    </virtualType>
</config>
